	## ignore hidden files ##
.*


	## python temp paths ##
__pycache__/
# check http://stackoverflow.com/questions/8822335/what-does-python-file-extensions-pyc-pyd-pyo-stand-for
*.py[cod]
# http://stackoverflow.com/questions/16869024/what-is-pycache


	## editors ##
*~
*.swp
*.swo
*#
*.ui.autosave

	## windows ##
Thumbs.db
ehthumbs.db
Desktop.ini

	## auto generated ##
UI/Analyzer.py
UI/BulkDetection.py
UI/Features/gui_main.py
UI/Features/gui_navigate.py

	## recorded data ##
Data/
Debug/

	## local patches ##
/*.patch
/*.diff
